<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RNI{% endblock %}</title>

    <style>
      :root {
        --azul-primario: #003a8f;
        --rojo-institucional: #c62828;
        --fondo: #f5f7fb;
      }

      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: var(--fondo);
      }
    </style>

    {% block extra_css %}{% endblock %}
</head>
<body>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>
